.achievements {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.achievements__box--desc {
  @include media(768px) {
    width: 500px;
    margin-bottom: 44px;
  }
  @include media(1200px) {
    width: 457px;
  }
}

.achievements__box--count {
  @include media(768px) {
    width: 450px;
    margin-left: auto;
  }
  @include media(1200px) {
    width: 50%;
    padding-left: 100px;
    margin: 0;
  }
}

.achievements__item {
  @include centeredFlex;
  color: $primaryTextColor;
  background-color: $secondaryBgdColor;

  &:nth-child(2n-1) {
    margin-right: 30px;
  }
  &:nth-child(2n) {
    margin-top: 30px;
  }
  &:hover {
    transform: scale(1.2);
    background-color: $transparentTextColorInput;
    cursor: auto;
  }

  transform: scale(1);
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;

  @include media(479px, max-width) {
    width: calc((100% - 30px) / 2);
    height: 133px;
  }
  @include media(480px) {
    padding: 20px 35px;
    width: calc((100% - 30px) / 2);
    height: 133px;
  }
  @include media(1200px) {
    padding: 20px 35px;
    width: 170px;
    height: 133px;
  }
}

.achievements__wrap {
  height: auto;
  @include centeredFlex;
  flex-wrap: wrap;
  text-align: center;

  @include media(479px, max-width) {
    width: 100%;
    max-width: 122px;
  }
  @include media(480px) {
    width: 122px;
  }
}

.achievements__count {
  display: flex;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  &::after {
    content: "+";
    color: $accentColor;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    margin-left: 2px;
    align-self: start;
  }
}

.achievements__desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0;
}
