.achievements {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.achievements__box--left {
  padding-left: 100px;
  padding-right: 130px;
}

.achievements__item {
  width: 170px;
  height: 133px;

  padding: 20px 24px;
  color: $primaryTextColor;
  background-color: $secondaryBgdColor;

  transform: scale(1);
  transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;

  &:nth-child(2n-1) {
    margin-right: 30px;
  }

  &:nth-child(2n) {
    margin-top: 30px;
  }

  &:hover {
    transform: scale(1.2);
    background-color: $transparentTextColorInput;
    cursor: auto;
  }
}

.achievements__wrap {
  width: 122px;
  height: 93px;

  @include centeredFlex;
  flex-wrap: wrap;
  text-align: center;
}

.achievements__count {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  display: flex;

  &::after {
    content: "+";
    color: $accentColor;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    margin-left: 2px;
    align-self: start;
  }
}

.achievements__desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
