.benefits {
    padding-top: 114px;
    padding-bottom: 172px;
}

.benefits__container {
    display: flex;
    padding-right: 120px;
}

.benefits__pre-title--primary {
    @extend %pre-title;
    
    color: $primaryTextColor;
    margin-bottom: 20px;
}

.benefits__title--primary {
    @extend %section-title;

    color: $primaryTextColor;
    margin-bottom: 20px;
    width: 483px;
}

.benefits__after-title--secondary {
    @extend %after-title;
    width: 500px;

    color: $secondaryTextColor;
    margin-bottom: 20px;
}