.booking__wrap {
  background-color: $bookingSectionBgdColor;
  padding: 0;

  @include media(1200px) {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: 625px;
    background-position: right;

    background-image: url("../images/contacts-bg-desktop.png");
    @include ratio2 {
      background-image: url("../images/contacts-bg-desktop@2x.png");
    }
    @include ratio3 {
      background-image: url("../images/contacts-bg-desktop@3x.png");
    }
  }
}

.booking__container {
  @include media(1199px, max-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  @include media(1200px) {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.booking {
  @extend %section;

  @include media(480px) {
    width: 448px;
    margin: 0 auto;
  }
  @include media(768px) {
    width: 720px;
    margin: 0 auto;
  }
  @include media(1199px, max-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media(1200px) {
    width: calc((100% - 40px) / 2);
    margin-right: 40px;
  }
}

.booking__title {
  @extend %section-title;
  margin-bottom: 44px;

  color: $lightTitleBtnColor;
  @include media(767px, max-width) {
    text-align: center;
  }
}

.booking-form {
  // for all
  margin-bottom: 44px;
}

.booking-form__wrap {
  // for all
  margin-bottom: 44px;
  @include media(768px) {
    display: flex;
  }
}

.booking-form__field {
  position: relative;
  display: block;
  color: $transparentTextColorInput;

  &:hover {
    color: $lightTitleBtnColor;
  }
  @include media(767px, max-width) {
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
  @include media(768px) {
    width: calc((100% - 30px) / 2);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.booking-form__input {
  @extend %inputs;
  width: 100%;
}

.booking-form__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  font-style: normal;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include transitioned(transform);

  .booking-form__input:focus + &,
  .booking-form__input:not(:placeholder-shown) + & {
    transform: translateY(-200%);
    color: $lightTitleBtnColor;
  }
}

// textarea
.booking-form__text-field {
  position: relative;
  color: $transparentTextColorInput;

  &:hover {
    color: $lightTitleBtnColor;
    cursor: pointer;
  }
}

.booking-form__textarea {
  display: block;
  height: 76px;
  width: 100%;
  padding: 8px;
  resize: none;

  @extend %inputs;
  &::placeholder {
    font-style: normal;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $transparentTextColorInput;
  }
}

.booking__btn {
  @extend %btn;
  display: block;

  @include media(767px, max-width) {
    margin: 0 auto;
  }
  @include media(768px) {
    margin-right: auto;
  }
}
