.contacts {
  @extend %section;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  @include media(767px, max-width) {
    width: 100%;
    background-image: url("../images/contacts-bg-mobile.png");
    @include ratio2 {
      background-image: url("../images/contacts-bg-mobile@2x.png");
    }
    @include ratio3 {
      background-image: url("../images/contacts-bg-mobile@3x.png");
    }
  }

  @include media(768px) {
    width: 100%;
    background-image: url("../images/contacts-bg-tablet.png");
    @include ratio2 {
      background-image: url("../images/contacts-bg-tablet@2x.png");
    }
    @include ratio3 {
      background-image: url("../images/contacts-bg-tablet@3x.png");
    }
  }

  @include media(1200px) {
    width: calc((100% - 40px) / 2);
    padding-left: 100px;
    background-image: none;
  }
}

.contacts__container {
  @include media(1199px, max-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include media(1200px) {
    padding: 0;
    width: 100%;
  }
}

.contacts__title {
  @extend %section-title;

  color: $lightTitleBtnColor;
  margin-bottom: 40px;
  @include media(767px, max-width) {
    text-align: center;
  }
}

.contacts__wrap {
  @include media(768px) {
    display: flex;
  }
  @include media(1200px) {
    display: block;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: inherit;
  color: $greyTextColor;

  @include media(768px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  @include media(1200px) {
    width: 270px;
    margin-bottom: 70px;
    margin-right: 0;
  }
}

.shedule {
  @include media(768px) {
    width: calc((100% - 30px) / 2);
  }
  @include media(1200px) {
    width: 100%;
  }
}

.contacts__list {
  @extend %list;
  @include media(767px, max-width) {
    margin-bottom: 44px;
  }
  // width: 270px;
  //   margin-bottom: 70px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $greyTextColor;
  transform: scale(1);

  @include transitioned(transform);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.contacts__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  fill: $greyTextColor;
  transform: scale(1);
}

.contacts__pre-title {
  @extend %pre-title;
  color: $lightTitleBtnColor;

  margin-bottom: 20px;

  &::before {
    background-color: $transparentTextColorInput;
  }
}

.contacts__after-title {
  @extend %after-title;
  color: $greyTextColor;
  @include media(767px, max-width) {
    font-size: 18px;
    line-height: 1.67;
  }
}
