.footer {
  @include media(767px, max-width) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  @include media(768px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  // padding-top: 32px;
  // padding-bottom: 30px;
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;

  @include media(768px) {
    flex-direction: row;
    align-items: center;
  }
}

.footer-copyright {
  font-style: normal;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: $greyTextColor;
}
