.hero {
  position: relative;
}

.hero-content {
  position: relative;
  @include media(767px, max-width) {
    height: 680px;
    padding-top: 208px;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: linear-gradient(
      to right,
      $heroGradientColor,
      $heroGradientColor
    );
  }
  @include ratio2 {
    background-image: linear-gradient(
        to right,
        $heroGradientColor,
        $heroGradientColor
      ),
      url("../images/hero-bg-mobile@2x.jpg");
  }
  @include ratio3 {
    background-image: linear-gradient(
        to right,
        $heroGradientColor,
        $heroGradientColor
      ),
      url("../images/hero-bg-mobile@3x.jpg");
  }
}

.hero-content__pre-title {
  // for all
  @extend %pre-title;
  margin-bottom: 20px;
  color: $preTitleColorDark;
}

.hero-content__title {
  // for all
  @extend %section-title;
  color: $lightTitleBtnColor;
  @include media(1200px) {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}

.hero-content__after-title {
  max-width: 306px;
  @extend %after-title;
  color: $greyTextColor;
  @include media(1200px) {
    max-width: 406px;
  }
}

.hero__desc {
  @include media(480px) {
    width: 448px;
    margin: 0 auto;
  }
  @include media(768px) {
    position: absolute;
    left: 70px;
    top: 280px;
    z-index: 2;
    width: max-content;
  }
  @include media(1200px) {
    left: 96px;
    top: 262px;
    z-index: 2;
    width: max-content;
  }
}
