.hero {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // @include media(479px, max-width) {
  //   width: 100%;
  // }
  @include media(480px) {
    width: 100%;
    // max-width: 480px;
    padding-top: 208px;
    padding-bottom: 183px;
    background-image: linear-gradient(
        to right,
        $heroGradientColor,
        $heroGradientColor
      ),
      url("../images/hero-bg-mobile.jpg");
  }
  @include ratio2 {
    background-image: linear-gradient(
        to right,
        $heroGradientColor,
        $heroGradientColor
      ),
      url("../images/hero-bg-mobile@2x.jpg");
  }
  @include ratio3 {
    background-image: linear-gradient(
        to right,
        $heroGradientColor,
        $heroGradientColor
      ),
      url("../images/hero-bg-mobile@3x.jpg");
  }

  // tablet
  @include media(768px) {
    // max-width: 768px;
    background-image: linear-gradient(
        to right,
        $heroGradientColor,
        $heroGradientColor
      ),
      url("../images/hero-bg-tablet.jpg");

    @include ratio2 {
      background-image: linear-gradient(
          to right,
          $heroGradientColor,
          $heroGradientColor
        ),
        url("../images/hero-bg-tablet@2x.jpg");
    }
    @include ratio2 {
      background-image: linear-gradient(
          to right,
          $heroGradientColor,
          $heroGradientColor
        ),
        url("../images/hero-bg-tablet@2x.jpg");
    }
  }
}

.hero-container__pre-title {
  @extend %pre-title;
  margin-bottom: 20px;
  color: $preTitleColorDark;
}

.hero-container__title {
  @extend %section-title;

  color: $lightTitleBtnColor;
}

.hero-container__after-title {
  max-width: 306px;
  @extend %after-title;
  color: $greyTextColor;
}

// .hero-content {
//   padding: 272px 0px 206px 96px;
//   flex-grow: 1;
// }
