// .menu-thumb {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

.menu-container {
  @include media(767px, max-width) {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 118px 49px;

    background-color: $primaryBgdColor;

    transform: translateX(100%);
    @include transitioned(transform);

    &.is-open {
      transform: translateX(0);
    }
  }
  @include media(479px, max-width) {
    position: fixed;
    top: 0;
    right: 0;
  }
  @include media(767px, max-width) {
    position: fixed;
    top: 0;
    right: 0;
    width: 347px;
  }
  @include media(768px) {
    position: static;

    background-color: transparent;
    display: block;
  }
}

.menu-btn {
  @include centeredFlex;
  margin-left: auto;
  padding: 0;

  background-color: transparent;
  border: none;
  &__icon--cross {
    fill: $primaryTextColor;
  }
  &__icon--menu {
    fill: $lightTitleBtnColor;
  }
  &.is-open {
    position: relative;
    z-index: 10;
  }
  &.is-open .menu-btn__icon--menu {
    display: none;
  }

  @include media(768px) {
    display: none;
  }
}

.menu-btn__icon--cross {
  display: none;

  .menu-btn.is-open & {
    display: block;
  }
}
