h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  position: relative;
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;

  background-color: $primaryBgdColor;
  color: $primaryTextColor;

  @include transitioned(background-color);
  &.menu-open {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

// .top-title {
//     font-size: 11px;
//     line-height: 1.36;

//     letter-spacing: 0.1em;
//     text-transform: uppercase;

// }

// .visually-hidden {
//     position: fixed;
//     transform: scale(0);
// }
