.swiper.mySwiper > .swiper-wrapper {
  height: 680px;
  @include media(767px, max-width) {
    display: none;
  }
}

.slider-pagination.slider-pagination--barbershop .swiper-pagination-bullet {
  margin-right: 52px;
  width: 8px;
  height: 2px;
  background-color: $greyTextColor;
  margin-bottom: 12px;

  &-active {
    width: 17px;
    background-color: $primaryBgdColor;
  }
}

// .swiper-button-prev.swiper-button-prev--back {
//   left: 885px;
//   top: 616px;

//   font-family: "Open Sans";
//   font-weight: 600;
//   font-size: 11;
//   line-height: 1.36;
//   letter-spacing: 0.1em;
//   color: $preTitleColorDark;
// }

// .swiper-button-next.swiper-button-next--forward {
//   left: 962px;
//   top: 616px;

//   font-family: "Open Sans";
//   font-weight: 600;
//   font-size: 11;
//   line-height: 1.36;
//   letter-spacing: 0.1em;
//   color: $preTitleColorDark;
// }

// .swiper-button-prev.swiper-button-prev--back::after,
// .swiper-button-next.swiper-button-next--forward::after {
//   content: "";
//   background-color: $preTitleColorDark;
//   width: 64px;
//   height: 1px;
// }
