.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include media(479px, max-width) {
    width: 100%;
    max-width: 448px;
  }
  @include media(480px) {
    width: 448px;
  }
  @include media(768px) {
    width: 720px;
  }
  @include media(1200px) {
    width: 1200px;
  }
}
