$primaryTextColor: #303030;
$secondaryTextColor: #555555;
$lightTitleBtnColor: #ffffff;

$primaryBgdColor: #ffffff;
$secondaryBgdColor: #f7f7f7;
$pricesBgdColor: #111319;
$pricesLineColor: rgba(157, 164, 189, 0.12);
$heroGradientColor: rgba(25, 28, 38, 0.2);
$backdropColor: rgba(25, 28, 38, 0.4);

$preTitleColorDark: rgba(157, 164, 189, 0.6);
$transparentTextColorInput: rgba(157, 164, 189, 0.4);
$greyTextColor: #9da4bd;

$bookingSectionBgdColor: #191c26;

$accentColor: #ff6c00;
