$primaryTextColor: #303030;
$secondaryTextColor: #555555;
$lightTitleBtnColor: #ffffff;

$primaryBgdColor: #ffffff;


$topTitleColorHero: rgba(157, 164, 189, 0.6);
$transparentTextColorInput: rgba(157, 164, 189, 0.4);
$greyTextColor: #9da4bd;

$bookingSectionBgdColor: #191c26;

$accentColor: #ff6c00;