
// socials at hero section
.company-socials__wrap {
    display: flex;
    align-items: flex-end;
    width: 93px;
    height: 680px;

    padding-left: 26px;
    padding-bottom: 40px;
}

.company-socials--hero {
    @extend %company-socials;
   
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
}

.company-socials__item:not(:last-child) {
    margin-right: 40px;
}


.company-socials__link--hero {
    @extend %company-socials__link;
    padding-top: 26px;
    padding-bottom: 26px;

}

// socials at footer
.company-socials--footer {
    @extend %company-socials;
    margin-left: auto;
}

.company-socials__link--footer {
    @extend %company-socials__link;

        padding-top: 57px;
        padding-bottom: 55px;
}