// universal
.company-socials {
  @extend %list;

  letter-spacing: 0.2em;
  color: $primaryTextColor;

  @include media(767px, max-width) {
    font-size: 14px;
    line-height: 1.36;
  }
  @include media(768px) {
    font-size: 11px;
    line-height: 1.36;
  }
}

// universal
.company-socials__link {
  @extend %company-socials__link;
}

// socials at menu
.company-socials__wrap--menu {
  @include media(768px) {
    display: none;
  }
}

.company-socials--menu {
  @include media(767px, max-width) {
    font-size: 14px;
    line-height: 1.36;
    margin-left: 100px;
  }
}

.company-socials__item--menu:not(:last-child) {
  @include media(767px, max-width) {
    margin-bottom: 24px;
  }
  // margin-right: 40px;
}

.company-socials__item--menu:first-child {
  position: relative;

  &::before {
    position: absolute;
    right: calc(100% + 40px);
    top: 50%;

    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}

// // socials at footer
.company-socials--footer {
  @extend %company-socials;
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  @include media(768px) {
    margin-bottom: 0;
  }
}

.company-socials__item--footer {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 40px;
  }

  &:first-child {
    position: relative;

    &::before {
      position: absolute;
      right: calc(100% + 40px);
      top: 50%;

      content: "";
      display: block;
      width: 60px;
      height: 1px;
      background-color: currentColor;
    }
  }
}

.company-socials__link--footer {
  @extend %company-socials__link;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  // padding-top: 25px;
  // padding-bottom: 25px;
}

// // socials at hero
.company-socials__wrap--hero {
  @include media(767px, max-width) {
    display: none;
  }
  @include media(768px) {
    height: auto;
    width: 114px;
    padding-left: 35px;
    padding-bottom: 140px;
    display: flex;
    align-items: flex-end;
  }
  @include media(1200px) {
    padding-left: 38px;
  }
}

.company-socials--hero {
  display: flex;

  transform: rotate(-90deg) translateY(100%);
  transform-origin: left bottom;

  &::before {
    position: absolute;
    right: calc(100% + 40px);
    top: 50%;

    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
  }
}

.company-socials__item--hero {
  &:not(:last-child) {
    margin-right: 40px;
  }
}
